<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
					<form action = "/product/search" method = "POST">
						<div class="col-sm-8">
							<input name = "search" type="text" class="form-control" plcaceholder = "search product">
						</div>
						<div class="col-sm-4">
							<button type = "submit" class="btn btn-success form-control">search</button>
						</div>
						
					</form>
		</div>
</div>