<% layout('shortLayout') %>

<h1 class = "active-color text-center">Đăng Nhập</h1>
				<!--login-->
				<section id="login" class="text-center div container">
					<% include ../partials/message %>
					<form action = "/users/login" method = "POST" >
						<div class="form-group">
							<input name = "email" type="email" class="form-control" placeholder="Điền địa chỉ email" required>
						</div>
						<div class="form-group">
							<input name = "password" type="password" class="form-control" placeholder="Điền password"required>
						</div>
						<button class="btn btn-lg btn-primary">Đăng Nhập</button>
						<a href="#" class="forgot-password">Forgot your password?</a>
					</form>
				</section>
				<!--end login-->