<% layout("shortLayout") %>
				
			<!--register-->
			<section id="register" class="text-center div container">
				<h1 class = "active-color">Đăng Ký</h1>
				<% include ../partials/message %>
				<form action = "/users/register" method = "POST">
					<div class="form-group">
						<input name = "name" class="form-control" type="text" required placeholder = "Tên người dùng">
					</div>
					<div class="form-group">
						<input name = 'email' type="email" class="form-control" placeholder="Điền địa chỉ email">
					</div>
					
					<div class="form-group">
						<input name = "password"  type="password" class="form-control" placeholder="Điền password">
					</div>
					<div class="form-group">
						<input name = "repeatPassword" type="password" class="form-control" placeholder="Nhập lại password">
					</div>
					<div class="form-group">
						<input  name = "address" class="form-control" type="text" required placeholder = "Địa chỉ...">
					</div>
					<div class="form-group">
						<input name = "phone"class="form-control" type="text" required placeholder = "Số điện thoại ...">
					</div>
					<div class="form-group">
						<input name = "Birthday"class="form-control" type="date" required placeholder = "Ngày sinh..">
					</div>
					<div class="form-group">
                    
                        <label>Man <input name = "Gender" class = "radio-inline" type="radio" value = "man"></label>
                    
                        <label>Woman <input name = "Gender" class = "radio-inline" type="radio" value = "woman"></label>
                    </div>
                
                <div class="checkbox">
                    <label>
                        <input type="checkbox" required>I've read and accept the terms and conditions</label>
                </div>
					<button class="btn btn-lg btn-primary">Đăng Ký</button>
				</form>
			</section>
			<!--end register-->
		