<!--footer-->
<section id="footer" class="text-center">
	<div class="overlay">
		<div class="container">
		
			<div class="col-lg-4 col-sm-6">
				<h4>Liên Hệ</h4>
				
				<ul class = "list-unstyled text-left">					
					<li><i class = "fa fa-home"></i> 152 Giải phóng, Nam Định, Việt Nam</li>
					<li><i class = "fa fa-phone"></i> +84.916.678.845</li>
					<li><i class = "fa fa-envelope-o" ></i> thanhtung776@gmail.com</li>
				</ul>
			</div>
			<div class="col-lg-4 col-sm-6 text-center">
				<h4 class = "text-center">Danh Mục Sản Phẩm</h4>
				<ul class="list-unstyled">
					<li><a href="#">Sơn PU</a></li>
					<li><a href="#">Sơn 2k</a></li>
					<li><a href="#">Sơn Kẽm</a></li>
					<li><a href="#">Sơn Công Nghiệp</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-sm-6">
				<img src="/images/Logo.png" alt="">
			</div>			
		</div>
	</div>
</section>
<!--end footer-->