<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/Hero-Technology.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="/css/Pretty-Footer.css">
    <link rel="stylesheet" href="/css/Pretty-Header.css">
    <link rel="stylesheet" href="/css/Simple-Slider.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/User-Activity-Panel.css">
    <link rel="stylesheet" href="/css/register.css">
    <link href="css/owl.carousel.css" rel="stylesheet">
	<link href="css/owl.transitions.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	
	<!-- Block Styles (Feel free to remove any that you aren't using in your final export) -->
	<link href="/css/header-1.css" rel="stylesheet">
	<link href="/css/header-2.css" rel="stylesheet">
	<link href="/css/header-3.css" rel="stylesheet">
	<link href="/css/promo-1.css" rel="stylesheet">
	<link href="/css/promo-2.css" rel="stylesheet">
	<link href="/css/promo-3.css" rel="stylesheet">
	<link href="/css/content1-1.css" rel="stylesheet">
	<link href="/css/content1-2.css" rel="stylesheet">
	<link href="/css/content1-3.css" rel="stylesheet">
	<link href="/css/content1-4.css" rel="stylesheet">
	<link href="/css/content1-5.css" rel="stylesheet">
	<link href="/css/content1-6.css" rel="stylesheet">
	<link href="/css/content1-7.css" rel="stylesheet">
	<link href="/css/content1-8.css" rel="stylesheet">
	<link href="/css/content1-9.css" rel="stylesheet">
	<link href="/css/content2-1.css" rel="stylesheet">
	<link href="/css/content2-2.css" rel="stylesheet">
	<link href="/css/content2-3.css" rel="stylesheet">
	<link href="/css/content2-4.css" rel="stylesheet">
	<link href="/css/content2-5.css" rel="stylesheet">
	<link href="/css/content2-6.css" rel="stylesheet">
	<link href="/css/content2-7.css" rel="stylesheet">
	<link href="/css/content2-8.css" rel="stylesheet">
	<link href="/css/content2-9.css" rel="stylesheet">
	<link href="/css/content2-10.css" rel="stylesheet">
	<link href="/css/content3-1.css" rel="stylesheet">
	<link href="/css/content3-2.css" rel="stylesheet">
	<link href="/css/content3-3.css" rel="stylesheet">
	<link href="/css/content3-4.css" rel="stylesheet">
	<link href="/css/content3-5.css" rel="stylesheet">
	<link href="/css/content3-6.css" rel="stylesheet">
	<link href="/css/content3-7.css" rel="stylesheet">
	<link href="/css/content3-8.css" rel="stylesheet">
	<link href="/css/content3-9.css" rel="stylesheet">
	<link href="/css/content3-10.css" rel="stylesheet">
	<link href="/css/content3-11.css" rel="stylesheet">
	<link href="/css/gallery-1.css" rel="stylesheet">
	<link href="/css/gallery-2.css" rel="stylesheet">
	<link href="/css/team-1.css" rel="stylesheet">
	<link href="/css/team-2.css" rel="stylesheet">
	<link href="/css/pricing-tables-1.css" rel="stylesheet">
	<link href="/css/pricing-tables-2.css" rel="stylesheet">
	<link href="/css/contact-1.css" rel="stylesheet">
	<link href="/css/contact-2.css" rel="stylesheet">
	<link href="/css/contact-3.css" rel="stylesheet">
	<link href="/css/blog-1.css" rel="stylesheet">
	<link href="/css/shop-1.css" rel="stylesheet">
	<link href="/css/shop-2.css" rel="stylesheet">
	<link href="/css/shop-3.css" rel="stylesheet">
	<link href="/css/shop-4.css" rel="stylesheet">
	<link href="/css/shop-5.css" rel="stylesheet">
	<link href="/css/shop-6.css" rel="stylesheet">
	<link href="/css/shop-7.css" rel="stylesheet">
	<link href="/css/footer-1.css" rel="stylesheet">
	<link href="/css/footer-2.css" rel="stylesheet">
	<link href="/css/footer-3.css" rel="stylesheet">
	<link href="/css/footer-4.css" rel="stylesheet">
	<link href="/css/footer-5.css" rel="stylesheet">
	<link href="/css/basic.css" rel="stylesheet">
</head>

<body>
    <% include partials/navbar %>
    <%- body -%>
    
    
    <% include partials/footer %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    
    <script src="/js/Simple-Slider.js"></script>
</body>

</html>