* {
  color: #fff; }

h1, h2, h3, h4 {
  font-weight: bold;
  line-height: 2; }

p, i, span, a {
  line-height: 2; }

@media (max-width: 767px) {
  a, span, p {
    font-size: 12px; } }
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.active-color {
  color: #02bbd2 !important; }

.focus-color {
  color: #ffe500 !important; }

#header {
  background: url(../images/background.jpg) no-repeat center; }
  #header .head {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 50px; }
    #header .head .navbar-nav {
      width: 33.33%;
      padding: 1.2em 0;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      transition-duration: 300ms; }
      #header .head .navbar-nav a {
        text-decoration: none;
        color: #fff; }
    #header .head .navbar-center {
      text-align: center; }
    #header .head .navbar-right {
      text-align: right; }
    @media (max-width: 767px) {
      #header .head .navbar-right {
        width: 58.3%;
        text-align: right; }
      #header .head .navbar-left {
        width: 41.6%;
        text-align: left; } }
    #header .head .navbar-left:hover,
    #header .head .navbar-right:hover {
      letter-spacing: 1.2px; }
      #header .head .navbar-left:hover span,
      #header .head .navbar-right:hover span {
        color: #02bbd2; }
      #header .head .navbar-left:hover a,
      #header .head .navbar-right:hover a {
        color: #02bbd2; }
      #header .head .navbar-left:hover .fa,
      #header .head .navbar-right:hover .fa {
        color: #02bbd2;
        -webkit-box-shadow: 0px 0px 13px 2px #02bbd2;
        -moz-box-shadow: 0px 0px 13px 2px #02bbd2;
        box-shadow: 0px 0px 13px 2px #02bbd2; }
    #header .head .fa {
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.8);
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      transition-duration: 300ms; }
    #header .head .fa:hover {
      color: #02bbd2;
      -webkit-box-shadow: 0px 0px 13px 2px #02bbd2;
      -moz-box-shadow: 0px 0px 13px 2px #02bbd2;
      box-shadow: 0px 0px 13px 2px #02bbd2; }
  #header .body {
    padding: 80px 0; }
    #header .body .header-intro img {
      width: 300px;
      height: 160px; }
  #header #menu {
    padding-bottom: 0;
    -webkit-box-shadow: 0px 0px 13px 2px #000000;
    background-color: rgba(0, 0, 0, 0.4); }
    #header #menu .navbar {
      margin-bottom: 0; }
      #header #menu .navbar .fa-user {
        line-height: 0; }
      #header #menu .navbar li > a {
        color: #fff; }
    #header #menu .navbar-toggle .icon-bar {
      background-color: #FFFFFF; }
    #header #menu .navbar-header {
      background-color: rgba(0, 0, 0, 0.4); }
    #header #menu .logo {
      height: 45px;
      width: 95px; }
    #header #menu .nav > li > a:focus,
    #header #menu .nav > li > a:hover {
      background-color: rgba(0, 0, 0, 0.6);
      -webkit-box-shadow: 0px 0px 13px 2px #02bbd2;
      -moz-box-shadow: 0px 0px 13px 2px #02bbd2;
      box-shadow: 0px 0px 13px 2px #02bbd2; }
    #header #menu .dropdown-menu .divider {
      background-color: #000000; }
    #header #menu .dropdown-menu > li > a:focus,
    #header #menu .dropdown-menu > li > a:hover {
      background-color: rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 0px 13px 2px #02bbd2;
      -moz-box-shadow: 0px 0px 13px 2px #02bbd2;
      box-shadow: 0px 0px 13px 2px #02bbd2; }
    #header #menu .dropdown-menu {
      background-color: rgba(0, 0, 0, 0.5); }

#wellcome {
  padding: 30px 0; }
  #wellcome h1, #wellcome h2, #wellcome h3, #wellcome h4, #wellcome i, #wellcome p, #wellcome span, #wellcome strong {
    color: #2A2A2A; }

#our-service {
  background: url(../images/background3.jpg) center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }
  #our-service .overlay {
    width: 100%;
    height: 100%;
    padding: 30px 0; }
    #our-service .overlay h1 {
      margin-bottom: 30px; }
    #our-service .overlay .service-box {
      border: 1px solid transparent;
      border-radius: 10px;
      padding: 10px 2px;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      transition-duration: 300ms;
      min-height: 400px; }
      #our-service .overlay .service-box .fa {
        border-radius: 50%;
        border: 2px solid #02bbd2;
        width: 120px;
        height: 120px;
        line-height: 120px; }
    #our-service .overlay .service-box:hover {
      background-color: #02bbd2; }
      #our-service .overlay .service-box:hover .fa {
        color: #fff;
        -webkit-box-shadow: 0px 0px 13px 2px #fff;
        -moz-box-shadow: 0px 0px 13px 2px #fff;
        box-shadow: 0px 0px 13px 2px #fff; }

#categories {
  padding: 30px 0; }
  #categories h1, #categories h2, #categories h3, #categories h4, #categories i, #categories p, #categories span, #categories strong {
    color: #2A2A2A; }
  #categories img {
    width: 100%; }
  #categories p {
    padding: 30px 0; }
  #categories .category-box {
    background-color: #D8D5D5;
    padding: 15px 10px;
    border: 3px solid #fff;
    border-radius: 15px;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    transition-duration: 300ms; }
  #categories .category-box:hover {
    background-color: #02bbd2;
    border: 3px solid #02bbd2; }
    #categories .category-box:hover h1, #categories .category-box:hover h2, #categories .category-box:hover h3, #categories .category-box:hover h4, #categories .category-box:hover i, #categories .category-box:hover p, #categories .category-box:hover span, #categories .category-box:hover strong {
      color: #fff; }

#popular-product {
  background: url(../images/son2k.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }
  #popular-product .overlay {
    padding: 10px 0; }
    #popular-product .overlay .product {
      min-height: 200px;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 10px 4px;
      border: 3px solid rgba(251, 244, 244, 0.4);
      border-radius: 15px;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      transition-duration: 300ms; }
      #popular-product .overlay .product img {
        width: 80%; }
    #popular-product .overlay .product:hover {
      background-color: #02bbd2; }

#testimonials {
  padding: 30px 0; }
  #testimonials h1, #testimonials h2, #testimonials h3, #testimonials h4, #testimonials i, #testimonials p, #testimonials span, #testimonials strong {
    color: #2A2A2A; }
  #testimonials .banner img {
    width: 40%;
    border-radius: 50%; }
  @media (max-width: 767px) {
    #testimonials .banner img {
      margin-left: 30%; } }

#contact-us {
  background: url(../images/background2.jpg) center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }
  #contact-us .overlay {
    padding: 30px 0; }
  #contact-us #form-contact {
    padding: 30px 10%; }
    #contact-us #form-contact textarea {
      width: 100%;
      height: 132px;
      background-color: rgba(0, 0, 0, 0.3);
      border: none;
      color: #fff;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      transition-duration: 300ms; }
    #contact-us #form-contact textarea:hover {
      border: 1.5px solid #02bbd2; }
    #contact-us #form-contact button {
      background-color: rgba(0, 0, 0, 0.3);
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      transition-duration: 300ms; }
    #contact-us #form-contact button:hover {
      background-color: #02bbd2;
      color: #fff; }
    #contact-us #form-contact input {
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      line-height: 2em;
      border: none;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      transition-duration: 300ms; }
    #contact-us #form-contact input:hover {
      border: 1.5px solid #02bbd2; }

#footer {
  background: url(../images/background2.jpg) center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }
  #footer .overlay {
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.8) !important; }
    #footer .overlay img {
      width: 60%; }
    #footer .overlay ul li .fa {
      margin-right: 10px;
      margin-bottom: 5px;
      height: 40px;
      width: 40px;
      line-height: 40px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.4);
      text-align: center; }
    #footer .overlay ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 1.2em;
      line-height: 2; }

#copyright .copyright {
  background-color: #272727;
  padding: 5px 0; }

/* Product*/
#list-product {
  background-color: #2F2F2F;
  padding: 30px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }
  #list-product .pagination>li>a, .pagination>li>span {
    line-height: 2;
    color: #000000;
  }
  #list-product .pagination>li>a>span{
    color: #000000;
  }
  #list-product .category-box {
    background-color: rgba(31, 31, 31, 0.3);
    padding: 20px 10px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #ffffff; }
    #list-product .category-box li {
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      transition-duration: 300ms; }
      #list-product .category-box li a {
        text-decoration: none;
        color: #02bbd2;
        font-size: 16px; }
    #list-product .category-box li:hover {
      background-color: rgba(0, 0, 0, 0.6);
      border: 1px solid #ffffff; }
  #list-product .list-products .product-box {
    background-color: rgba(57, 56, 56, 0.3);
    border: 1px solid #fff !important;
    padding-bottom: 20px;
    margin: 20px 3px;
    position: relative;
    overflow: hidden;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    transition-duration: 300ms; }
    #list-product .list-products .product-box img {
      max-width: 90%;
      margin-top: 20px;
      margin-bottom: 20px; }
  #list-product .list-products .product-box:last-child {
    margin-right: 0; }
  #list-product .list-products .product-box:hover {
    background-color: rgba(0, 0, 0, 0.7); }
    #list-product .list-products .product-box:hover h3 {
      color: #02bbd2; }
    #list-product .list-products .product-overlay {
        position: absolute;
        width: 100%;
        height: 44px;
        line-height: 44px;
        top: auto;
        bottom: -44px;
        left: 0;
        z-index: 6;
    }
  #list-product .loading {
    width: 100%;
    height: 100%;
    background-color: #2f2f2f;
    color: #ffffff;
    position: absolute;
    display: none;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    transition-duration: 300ms;
  
  }
  #list-product .loading img {
    width: 200px;
  }
#product-detail {
  background-color: #2F2F2F;
  padding: 10px 30px; }
  #product-detail .product-detail-box {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 5px; }
    #product-detail .product-detail-box img {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%; }
    #product-detail .product-detail-box .star, #product-detail .product-detail-box .price {
      padding-top: 20px;
      padding-bottom: 10px; }
    #product-detail .product-detail-box .star {
      padding-right: 10px; }
      #product-detail .product-detail-box .star .fa {
        color: #FFE500; }
    #product-detail .product-detail-box .price {
      padding-left: 10px; }
    #product-detail .product-detail-box .description {
      margin: 10px 5px;
      position: relative; }
  #product-detail .category-box {
    padding: 20px 10px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #ffffff; }
    #product-detail .category-box li {
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      transition-duration: 300ms; }
      #product-detail .category-box li a {
        text-decoration: none;
        color: #02bbd2;
        font-size: 16px; }
    #product-detail .category-box li:hover {
      background-color: rgba(0, 0, 0, 0.6);
      border: 1px solid #ffffff; }

#login {
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  width: 50%; }
  #login h1, #login h2, #login h3, #login h4, #login i, #login p, #login span, #login strong {
    color: #2A2A2A; }
  #login input {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    color: #ffffff; }

#register {
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
  width: 50%; }
  #register h1, #register h2, #register h3, #register h4, #register i, #register p, #register span, #register strong {
    color: #2A2A2A; }
  #register h1 {
    margin: 0 0; }
  #register input {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    color: #ffffff; }
#cart{
  padding:30px 0}
  #cart h1,
  #cart h2,
  #cart h3,
  #cart h4,
  #cart i,
  #cart p,
  #cart span,
  #cart input,
  #cart label,
  #cart strong{
    color:#2A2A2A}
    #cart .container .media .media-left,
    #cart .container .media .media-right{
      min-width:200px}
    #cart .container .media img{
      width:200px}
    #cart .container hr{
      border-top:1px solid #02bbd2
    }
    #cart .button-group {
			padding-top: 50px;
		}
#profile h1, #profile h2, #profile h3, #profile h4, #profile i, #profile p, #profile span, #profile strong {
  color: #2A2A2A; }
#profile li {
  color: #232323; }
#profile .media img {
  width: 200px; }
#profile .media-body {
      border-right: 2px solid #fff; }
#profile .media .item-box {
  border-bottom: 2px solid #fff;
}
#profile .media .item-box:last-child {
  border-bottom: none;
}
#profile .pagination li > a {
  height: 40px; }
  
#profile .history-item-box {
  margin-top: 5px;
  border: 1px solid #ccc;
  padding: 10px 5px;
  background-color: #ccc;
}