<configuration>
 <appSettings>
    <add key="BABEL_CACHE_PATH" value="C:\Babel\cache.json" /><!-- bắt buộc phải có nếu muốn sử dụng babel -->
  </appSettings>
   <system.webServer>
     <handlers>
       <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
     </handlers>
     <rewrite>
       <rules>
         <rule name="/">
           <match url="/*" />
           <action type="Rewrite" url="index.js" />
         </rule>
		 <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
			<match url="^index.js\/debug[\/]?" />
		 </rule>
		<rule name="DynamicContent">
		  <conditions>
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
		  </conditions>
		  <action type="Rewrite" url="index.js"/>
		</rule>
       </rules>
     </rewrite>
     <!-- exclude node_modules directory and subdirectories from serving
     by IIS since these are implementation details of node.js applications -->
     <security>
       <requestFiltering>
         <hiddenSegments>
           <add segment="node_modules" />
         </hiddenSegments>
       </requestFiltering>
     </security>    
     <!-- trỏ tới thư mục chứa node.exe mới nhất. Trong trường hợp này là phiên bản 7.6.0 -->
     <iisnode nodeProcessCommandLine="&quot;C:\Users\Administrator\AppData\Roaming\nvm\v7.6.0\node.exe&quot;" />
   </system.webServer>
 </configuration>